<div id="aceextensions-onestepcheckout-sidebar">
    <!-- ko foreach: getRegion('summary') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div class="aceextensions-onestepcheckout-shipping-information">
        <!-- ko foreach: getRegion('shipping-information') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div id="aceextensions-onestepcheckout-place-order-area">
        <div class="onestepcheckout-addition-content-wrapper">
            <!-- ko foreach: getRegion('place-order-information-left') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="onestepcheckout-place-order-wrapper">
            <!-- ko foreach: getRegion('place-order-information-right') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
</div>
