<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_paypal_express_placeOrder">
        <observer name="onestepcheckout_predispatch_paypal_express_placeOrder" instance="Aceextensions\OneStepCheckout\Observer\PaypalExpressPlaceOrder"/>
    </event>
    <event name="checkout_submit_all_after">
        <observer name="sales_pro_observer_checkout_submit_all_after" instance="Aceextensions\OneStepCheckout\Observer\CheckoutSubmitAllAfter" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="convertDataToOrder" instance="Aceextensions\OneStepCheckout\Observer\RegisterSubmitSuccess"/>
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="convertOscDataToOrder" instance="Aceextensions\OneStepCheckout\Observer\QuoteSubmitBefore"/>
    </event>

</config>
