<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Save address when estimate shipping method -->
    <type name="Magento\Quote\Model\ShippingMethodManagement">
        <plugin name="saveAddressWhenEstimate" type="Aceextensions\OneStepCheckout\Plugin\Checkout\ShippingMethodManagement"/>
    </type>
    <type name="Magento\Authorization\Model\CompositeUserContext">
        <plugin name="onestepcheckout_usercontext" type="Aceextensions\OneStepCheckout\Plugin\Authorization\UserContext"/>
    </type>
    <type name="Magento\Paypal\Model\Express">
        <plugin name="onestepcheckout_PaypalExpress" type="Aceextensions\OneStepCheckout\Plugin\Paypal\Model\Express"/>
    </type>
    <preference for="Magento\Checkout\Api\AgreementsValidatorInterface" type="Aceextensions\OneStepCheckout\Model\AgreementsValidator"/>
</config>
